# docker-compose.yml
version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agronova_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    # Mount the data folder so that the container can access the training files
    volumes:
      - ./data:/app/data